* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.03);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu {
  display: flex;
}

.menu li a {
  margin: 5px;
  padding: 5px 20px;
  color: #2e2e2e;
  font-weight: 500;
  opacity: 0.5;
  transition: all ease 0.5s;
}

.menu .active {
  opacity: 1;
}

.menu li a:hover {
  opacity: 1;
  transition: all ease 0.5s;
}

.logo {
  font-size: 2rem;
  color: #414141;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.right-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-elements a {
  margin: 0 10px;
}

.right-elements a i {
  color: #2c2c2c;
}

.right-elements a:hover i {
  color: #cf2728;
  transition: all ease 0.2s;
}

/* Main */
#main {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 50px auto;
}

.main-img {
  height: 500px;
  width: 500px;
}

.main-img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.main-text {
  max-width: 500px;
}

.main-text span {
  text-transform: uppercase;
  font-weight: 600;
  color: #e74444;
  letter-spacing: 2px;
}

.main-text h1 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 45px;
}

.main-text p {
  color: #747474;
  margin: 20px 0;
}

.main-text a {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.14);
  color: #f8f8f8;
  background-color: #e74444;
}

/* Category */

#categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px 0;
  flex-direction: column;
}

#categories h2 {
  font-weight: 500;
  padding: 2px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.14);
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #f5f5f544;
}

.category-box {
  position: relative;
  padding: 20px;
}

.category-box img {
  width: 220px;
  height: 220px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background-color: #f5f5f5;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.04);
  transition: all ease 0.3s;
}

.category-box span {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #2c2b2b;
  text-transform: uppercase;
  margin: 20px;
}

/* Feature */
#feature-product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

#feature-product h2 {
  color: #2e2e2e;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#feature-product h2::after {
  border-bottom: 1px solid #000;
  width: 80%;
  height: 1px;
  background-color: #2e2e2e;
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}

.feature-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px auto;
  width: 1200px;
  padding: 20px 0;
  background-color: #d6d6d60e;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.feature-product-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.product-feature-img {
  width: 250px;
  height: 280px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.product-feature-img img {
  width: 90%;
  height: 90%;
  object-position: center;
  object-fit: contain;
}
.product-feature-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-feature-text {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.product-feature-text strong {
  color: #272722;
  font-weight: 600;
  line-height: 20px;
}

.product-feature-text span {
  color: #747474;
}

.cart-like {
  display: flex;
}

.cart-like a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #747474;
  margin: 0 3px;
  font-size: 0.9rem;
}

.cart-like a i {
  color: #2c2c2c;
}

.cart-like a:hover {
  background-color: #cf2728;
}

.cart-like a:hover i {
  color: #f5f5f5;
}

/* Banner */
#banner {
  border: 1px solid rgba(235, 235, 235);
  max-width: 1200px;
  display: grid;
  grid-template-columns: 0.7fr 1.4fr;
  margin: auto;
  grid-gap: 40px;
  height: 300px;
  background-color: #f5f5f5;
  margin-bottom: 50px;
}

.banner-img {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.banner-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  padding: 20px 40px;
}

.banner-text strong {
  font-size: 2rem;
  font-weight: 600;
  color: #292929;
  margin-bottom: 10px;
}

.banner-text span {
  color: #222222;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.banner-text p {
  color: #636363;
}

.banner-text a {
  color: white;
  background-color: #e74444;
  width: 140px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.14);
}

.banner-text a:hover {
  background-color: #c72728;
  transition: all ease 0.3s;
}

/* Banner 2 */
.banner-reverse {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin: 100px auto !important;
}

/* Drink */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
  box-sizing: border-box;
}

#drink h2 {
  color: #2e2e2e;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#drink h2::after {
  border-bottom: 1px solid #000;
  width: 10%;
  height: 1px;
  background-color: #2e2e2e;
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}

.drink {
  padding: 50px 20px;
}

.drink h2 {
  font-size: 2rem;
  text-align: center;
  padding: 0;
}

.content-drink {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px 20px;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;
}

.card img {
  max-width: 100%;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: center;
}

.details {
  padding: 20px;
}

.info {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.info span {
  display: inline-block;
  margin-right: 10px;
}

.info i {
  margin-right: 5px;
}

.rating-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rating-price span {
  font-size: 1em;
  color: #333;
}

.rating-price .fa-star {
  color: #f39c12;
}

.fa {
  margin-right: 5px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 2rem;
  font-weight: 400;
}

footer span {
  color: skyblue;
}

footer .deskripsi {
  font-weight: 500;
  color: #adadad;
  margin: 20px;
}
